<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="errors">
      <h2>
        <%= pluralize(@shop.errors.count, "error") %>
        prevented you from creating a new shop:
      </h2>

      <ul>
        <% @shop.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: "shop name" %><br>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, placeholder: "street address" %><br>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, placeholder: "city" %><br>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state, placeholder: "state" %><br>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip, placeholder: "zip" %><br>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url, placeholder: "http://<shop website here>.com" %><br>
  </div>
  <div class="actions">
    <br><%= f.submit %>
  </div>
<% end %>