<div class="row">
<div class="large-4 columns">
  <div class="panel radius">
    <img src="https://s3.amazonaws.com/tatalog-milam-dev/tattoos/images/noavatar.png">
    <h3><%= @user.name %></h3>
    <p><%= @user.email %></p>
    </ul>
  </div>
</div>
<div class="small-12 large-8 columns">
  <ul class="small-block-grid-2">
    <% @tattoos.each do |tat| %>
      <li>
        <ul class="pricing-table radius" >
          <li class="title"><a class="th radius" href=<%= user_tattoo_path(@user.id, tat.id) %>> <img src=<%= tat.image.url(:small) %>></a></li>
          <!-- <li class="price">.99</li> -->
          <li class="price"><%= tat.name.length > 15 ? tat.name[0..15] + "..." : tat.name %></li>
          <li class="bullet-item">Artist: <%= @artists_info.find {|a| a[:id] == tat.artist_id}[:name] %></li>
          <li class="bullet-item">Shop: <%= @shops_info.find {|s| s[:id] == tat.shop_id}[:name] %></li>
          <li class="bullet-item">Why: <%= tat.why %></li>
          <li class="bullet-item">Date Received: <%= tat.when %></li>
          <li class="cta-button"><a class="button round" id="fave-btn" href="#">Favorite it!</a></li>
        </ul>
      </li>
      <input type="hidden" id="user-id" value=<%= @user.id %>>
      <input type="hidden" id="tat-id" value=<%= tat.id %>>
  <% end %>
  </ul>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $(document).on("click", "#fave-btn", function(e){
      e.preventDefault()
      $.ajax({
        url: "/favorites",
        type: "POST",
        data: {favorite: {user_id: $("#user-id").val(), tattoo_id: $("#tat-id").val()}},
        success: function (result) {
          $("#fave-btn").addClass("disabled")
        },
        error: function (result){
          console.log(result)
        }
      })
    })
  })
</script>