<div class="row">
  <div class="small-12 columns">
    <h1><%= @tattoo.name %></h1>
    <div class="tattoo-show">
      <label><img src=<%= @tattoo.image.url(:large) %>></label><br>
      <label><%= @artists.find(@artist.artist_id).name %></label><br>
      <label><%= @tattoo.shop_id %></label><br>
      <label><%= @tattoo.when %></label><br>
      <label><%= @tattoo.why %></label>
    </div>
  </div>
</div>