<h1><%= @tattoo.name %></h1>
<div class="tattoo-show">
  <label><%= @tattoo.artist_id %></label><br>
  <label><%= @tattoo.shop_id %></label><br>
  <label><%= @tattoo.when %></label><br>
  <label><%= @tattoo.why %></label>
</div>
