<%= form_for [@tattoo, @tattoo_pic] do |f| %>
  <% if @tattoo.errors.any? %>
    <div id="errors">
      <h2>
        <%= pluralize(@tattoo.errors.count, "error") %>
        prevented you from adding a new tattoo:
      </h2>

      <ul>
        <% @tattoo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, placeholder: "description of pic" %><br>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url, placeholder: "http://example.com/tattoo.jpg" %><br>
  </div>
  <div class="actions">
    <br><%= f.submit %>
  </div>
<% end %>