<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to("tatalog", root_path) %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>
  
  <section class="top-bar-section">
    <ul class="right">
      <li class="has-dropdown"><%= link_to("Organize", "#") %>
        <ul class="dropdown">
          <li><%= link_to("See them all", "#") %></li>
          <li><%= link_to("Add a tattoo", "#") %></li>
          <li><%= link_to("Add a shop", "#") %></li>
          <li><%= link_to("Add an artist", "#") %></li>
        </ul>
      </li>
      <li class="has-dropdown"><%= link_to("Browse", "#") %>
        <ul class="dropdown">
          <li><%= link_to("Other user's tattoos", "#") %></li>
          <li><%= link_to("Top tattoos", "#") %></li>
          <li><%= link_to("Top artists", "#") %></li>
          <li><%= link_to("Top shops", "#") %></li>
        </ul>
      </li>
      <li class="has-dropdown"><%= link_to("Signin/Signout", "#") %>
        <ul class="dropdown">
        <li><%= link_to("Signout", "#") %></li>
        </ul>
    </ul>
  </section>
</nav>     
     
     
     
     
      