<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>tatalog</h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>
  
  <section class="top-bar-section">
    <ul class="right">
      <li><%= link_to("Home", root_path) %></li>
      <% if signed_in? %>
        <li class="has-dropdown"><%= link_to("Organize", "#") %>
          <ul class="dropdown">
            <li><%= link_to("See them all", user_tattoos_path(current_user)) %></li>
            <li><%= link_to("Add a tattoo", new_user_tattoo_path(current_user)) %></li>
            <li><%= link_to("Add a shop", new_shop_path) %></li>
            <li><%= link_to("Add an artist", new_artist_path) %></li>
          </ul>
        </li>
        <li class="has-dropdown"><%= link_to("Browse", "#") %>
          <ul class="dropdown">
            <li><%= link_to("Other user's tattoos", users_path) %></li>
            <li><a href="#" data-reveal-id="comingSoonModal">Top Tattoos</a></li>
            <li><a href="#" data-reveal-id="comingSoonModal">Top Artists</a></li>
            <li><a href="#" data-reveal-id="comingSoonModal">Top Shops</a></li>
          </ul>
        </li>
      
      <li class="has-dropdown"><%= link_to(current_user.name, "#") %>
        <ul class="dropdown">
        <li><%= link_to("Profile", current_user) %></li>
        <li><%= link_to("Sign out", signout_path, method: "delete") %></li>
        </ul>
      <% else %>
        <li><%= link_to("Sign in", signin_path) %>
      <% end %>
    </ul>
  </section>
  <div id="comingSoonModal" class="reveal-modal" data-reveal>
    <h3>Coming Soon...</h3>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</nav>     
     
     
     
     
      