<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Tatalog - orgainize your ink" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body> 
    <header>
      <div class="small-12 medium-12 large-12">
        <%= render "layouts/navbar" %>
      </div>
    </header>
    <main role:"main">
      <%= yield %>
    </main>
  </body>
</html>
